<div class="contato-principal">
    
    <div class="contato-principal-conteudo">

        <div class="contato-top">
            <div class="contato-top-img">
                <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/envelope-regular.svg">
            </div>

            <div class="contato-top-p">
                <p>Preencha o formulário</p>
                <p><strong>para entrar em contato!</strong></p>
                <mat-spinner *ngIf="exibir"></mat-spinner>
            </div>
                
        </div>


        <div class="contato-middle">
            <form>
                <div>
                    <label>Nome:</label><br>
                    <input type="text" [(ngModel)]="cliente.nome" name="nome" id="nome" required>
                </div>

                <div>
                    <label>E-mail:</label><br>
                    <input type="text" [(ngModel)]="cliente.email" name="email" id="email" required>
                </div>

                <div>
                    <label>Telefone (WhatsApp):</label><br>
                    <input type="text" [(ngModel)]="cliente.telefone" name="telefone" id="telefone" required>
                </div>

                <h5>Endereço</h5>

                <div>
                    <label>CEP:</label><br>
                    <input type="text" [(ngModel)]="cliente.cep" name="cep" id="cep" required>
                </div>

                <div>
                    <label>Rua:</label><br>
                    <input type="text" [(ngModel)]="cliente.logradouro" name="rua" id="rua" required>
                </div>

                <div>
                    <label>Número:</label><br>
                    <input type="text" [(ngModel)]="cliente.numero" name="numero" id="numero" required>
                </div>

                <div>
                    <label>Bairro:</label><br>
                    <input type="text"  [(ngModel)]="cliente.bairro" name="bairro" id="bairro" required>
                </div>

                <div>
                    <label>Cidade:</label><br>
                    <input type="text" [(ngModel)]="cliente.cidade" name="cidade" id="cidade" required>
                </div>

                <div>
                    <label>Estado:</label><br>
                    <input type="text" [(ngModel)]="cliente.estado" name="estado" id="estado" required>
                </div>

                <div>
                    <label>Mensagem: </label><br>
                    <textarea [(ngModel)]="cliente.mensagem"
                        name="mensagem" id="mensage" cols="100%" rows="5"
                        placeholder="Digite a sua mensagem"></textarea>
                </div>
                

            </form>
        </div>


        <div class="contato-bottom">

            <div class="contato-bottom-left">
                <div>
                    <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/whatsapp.svg">
                </div>

                <div class="contato-bottom-left-span">
                    <span>SUPORTE</span>
                    <p>1521-2323</p>
                </div>
                
                
            </div>

            <div class="contato-bottom-middle">
                <div class="contato-bottom-middle-img">
                    <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/location-pin.svg">
                </div>
                
                <div class="contato-bottom-middle-span">
                    <span>LOJA FÍSICA</span>
                    <p>VEREADOR ROBERTO CARLOS SOLDADO Nº 40</p>
                    <P>PIRAPORA DO BOM JESUS - 06550-000 - SP</P>
                </div>
                
            </div>

            <div class="contato-bottom-rigth">
                <button (click)="enviar()"
                    class="button-enviar">
                    <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/right.svg">
                    ENVIAR MENSAGEM
                </button>
            </div>
            
        </div>

    </div>

</div>

<app-footer></app-footer>



