.sobre-principal {
    display: grid;
    grid-template-columns: 40% 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sobre-left img {
    width: 100%;
}

.sobre-rigth {
    display: grid;
    grid-template-rows: 50% 30% 20%;
    margin-top: 10px;
    margin-left: 50px;
}

.sobre-rigth-top {
    width: 80%;
}

.sobre-rigth-top span {
    font-size: 2rem;
}

.sobre-rigth-top p {
    margin-top: 20px;
    text-align: justify;
}

.span1 {
    border-bottom: solid 4px #FF7602;;
}

.span2 {
    border-bottom: solid 4px #0046F0;
}

.sobre-rigth-middle {
    display: grid;
    grid-template-columns: 20% 80%;
    border: solid 1px #D3D3D3;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    padding: 2%;
}

.sobre-rigth-middle-left img {
    width: 100px;
    height: 100px;
    margin-top: 18%;
    margin-left: 5%;
    margin-right: 3%;
}

.sobre-rigth-middle-rigth {
    margin-top: 5%;
}

.sobre-rigth-bottom {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2%;
}

.sobre-rigth-bottom-top {
    margin-top: 5%;
}

.sobre-rigth-bottom-top button {
    background-color: #0046F0;
    border: white;
    border-radius: 20px;
    color: white;
    font-size: 1.8rem;
    padding: 10px 30px; 
}

.sobre-rigth-bottom-top p {
    font-size: 0.9rem;
    margin-left: 15px;
}

.sobre-rigth-bottom-bottom  {
    margin-top: 3%;
}

.sobre-rigth-bottom-bottom img {
    width: 60%;
}



