<div class="sobre-principal" id="empresa">

    <div class="sobre-left">
        <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/imagens/Avatar.png" alt="">
    </div>

    <div class="sobre-rigth">
        <div class="sobre-rigth-top">
            <span class="span1">Sobre a</span> <span class="span2"><strong> Empresa</strong></span>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        </div>

        <div class="sobre-rigth-middle">
            <div class="sobre-rigth-middle-left">
                <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/responsive.svg" alt="">
            </div>
            <div class="sobre-rigth-middle-rigth">
                <h3>INTERNET + TELEVISÃO</h3>
                <p>Plataforma disponível gratuitamente para assinantes com
                diversos <strong>Filmes, Séries, Desenhos e + de 50 Canais Ao
                Vivo</strong> para você e sua Família aproveitar!
                </p>
            </div>
        </div>

        <div class="sobre-rigth-bottom">

            <div class="sobre-rigth-bottom-top">
                <button>ACESSAR TV</button>
                <P>Ver lista completa de Canais</P>
            </div>

            <div class="sobre-rigth-bottom-bottom">
                <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/imagens/Play-Store.png" alt="">
            </div>
            
        </div>
        
    </div>

</div>
