<div class="menu">
    <div class="logo">
        <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/imagens/Logo.png">
    </div>

    <div class="menu-principal">

        <div class="menu-principal-top">

            <div class="central">
                <div class="central-conteudo">
                    <span>Central 
                    <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/phone-alt-solid.svg">
                    1521-2323</span>
                </div>
            </div>

            <div class="buscar">
                <div class="buscar-conteudo">
                    <input type="text" name="buscar" id="buscar">
                    <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/search.svg">
                </div>
            </div>

            <div class="location">
                <div class="location-conteudo">
                    <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/location-pin.svg">
                    <span>PIRAPORA DO BOM JESUS</span>
                </div>
            </div>

            <div class="cliente">
                <button>Área Cliente</button>
            </div>

            <div class="icon-facebook">
                <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/facebook-f-brands.svg">
                <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/instagram-brands.svg">
            </div>

        </div>

        <div class="menu-principal-bottom">
            <div>
                <a href="#inicio">Início</a>
            </div>
        
            <div>
                <a href="#empresa">Empresa</a>
            </div>
        
            <div>
                <a href="#planos">Planos</a>
            </div>
        
            <div>
                <a href="#duvidas">Dúvidas Frequentes</a>
            </div>
        
            <div>
                <a href="">Contatos</a>
            </div>
        
            <div>
                <a href="">Testar Velocidade</a>
            </div>
        </div>

    </div>
</div>