<div class="menu">
<nav class="navegacao">
    
    <div class="logo">
        <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/imagens/Logo.png" alt="">
    </div>

    <div class="central">
        <span>Central <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/phone-alt-solid.svg" alt=""> 1521-2323</span>
    </div> 
    <div class="buscar">
        <input type="text" name="buscar" id="buscar" placeholder="Buscar aqui">
    </div> 

    <div class="location">
        <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/location-pin.svg" alt="">
    </div> 

    <div class="location-text">
        <span>PIRAPORA <br> DO BOM JESUS</span>
    </div> 

    <div class="button-area-cliente">
        <a href="#">Área do Cliente</a>
    </div> 

    <div>
        <a class="icon-facebook" href="">
            <img  src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/facebook-f-brands.svg" alt="">
        </a>
    </div>

    <div class="icon-instagram" >
        <a href="">
            <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/instagram-brands.svg" alt="">
        </a>
    </div>

</nav>
<hr>

<nav class="navegacao-items">
    <div>
        <a href="#inicio">Início</a>
    </div>

    <div>
        <a href="#empresa">Empresa</a>
    </div>

    <div>
        <a href="#planos">Planos</a>
    </div>

    <div>
        <a href="#duvidas">Dúvidas Frequentes</a>
    </div>

    <div>
        <a href="">Contatos</a>
    </div>

    <div>
        <a href="">Testar Velocidade</a>
    </div>
</nav>
</div>