.principal {
    display: grid;
    grid-template-columns: 70% 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.principal-left {
    display: grid;
    grid-template-rows: 30% 70%;
    margin-left: 5%;
    margin-top: 8%;
    
}

.principal-rigth img {
    width: 80%;
    height: 80%;
}
.principal-left img {
    width: 60%;
    height: 60%;
}

.principal-left-top {
    display: grid;
    grid-template-columns: 15% 60%;
}

.principal-left-top span {
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 1.2;
}

.principal-left-top-img {
    text-align: center;
}

.principal-left-top-span {
    margin-top: 1%;
}

.principal-left-bottom {
   
    width: 95%;
    height: 95%;
    padding: 2%;
}

.list-duvidas {
    list-style-type: none;
    margin-left: 0%;
}

.list-duvidas li {
    border: solid 1px #D3D3D3;
    padding: 2%;
}



.list-duvidas img {
    width: 2%;
    height: 2%;
    margin-right: 2%;
}

.list-duvidas p{
    text-align: justify;
    margin-top: 2%;
    font-size: 0.8rem;
    width: 90%;
}


