.principal {
    display: grid;
    grid-template-columns: 70% 30%;
}

.principal-left {
    margin-left: 10%;
    margin-top: 10%;
}

.principal-rigth img {
    width: 80%;
    height: 80%;
}
.principal-left img {
    width: 60px;
    height: 60px;
}

