<div class="principal">
    
    <div class="principal-descricao">
        <span class="principal-titulo">Temos o <strong>Plano ideal para você!</strong></span>
        <p class="principal-texto">Assine um plano e tenha acesso aos melhores conteúdos e Internet da região</p>
    </div>
    

    <div class="principal-conteudo">

        <div class="principal-conteudo-left">
            <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/wifi.svg" alt="">
            <span class="span-basico"><strong>Básico</strong></span>
            <hr>
            <span class="span-laranja"><strong>70 Megas</strong></span>
            <p class="p-normal"><strong>POR APENAS</strong> R$ 89,90</p>
            <p><strong>ESTE PLANO INCLUÍ:</strong></p>
            
            <ul>
                <li>
                    <strong>Instalação:</strong> Grátis
                </li>
                <li>
                    <strong>Wi-fi:</strong> Grátis
                </li>
                <li>
                    <strong>TV Online:</strong> Grátis
                </li>
                <li>
                    <strong>Tecnologia:</strong> Fibra Óptica
                </li>
                <li>
                    <strong>Suporte:</strong> Todos os dias
                </li>
            </ul>
        </div>

        <div class="principal-conteudo-middle">
            <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/rocket-ship.svg" alt="">
            <span class="span-basico"><strong>Médio</strong></span>
            <hr>
            <span class="span-azul"><strong>150 Megas</strong></span>
            <p class="p-normal"><strong>POR APENAS</strong> R$ 139,90</p>
            <p><strong>ESTE PLANO INCLUÍ:</strong></p>
            
            <ul>
                <li>
                    <strong>Instalação:</strong> Grátis
                </li>
                <li>
                    <strong>Wi-fi:</strong> Grátis
                </li>
                <li>
                    <strong>TV Online:</strong> Grátis
                </li>
                <li>
                    <strong>Tecnologia:</strong> Fibra Óptica
                </li>
                <li>
                    <strong>Suporte:</strong> Todos os dias
                </li>
            </ul>
        </div>

        <div class="principal-conteudo-rigth">
            <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/fast.svg" alt="">
            <span class="span-basico"><strong>Ultra</strong></span>
            <hr>
            <span class="span-laranja"><strong>300 Megas</strong></span>
            <p class="p-normal"><strong>POR APENAS</strong> R$ 189,90</p>
            <p><strong>ESTE PLANO INCLUÍ:</strong></p>
            
            <ul>
                <li>
                    <strong>Instalação:</strong> Grátis
                </li>
                <li>
                    <strong>Wi-fi:</strong> Grátis
                </li>
                <li>
                    <strong>TV Online:</strong> Grátis
                </li>
                <li>
                    <strong>Tecnologia:</strong> Fibra Óptica
                </li>
                <li>
                    <strong>Suporte:</strong> Todos os dias
                </li>
            </ul>
        </div>

    </div>

</div>
