*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.slide {
    background-color: #F2F2F2;
}

.slide img {
    width: 100%;
}

.suporte {
    display: grid;
    grid-template-columns: 8% 45% 47%;
    background-color: #0046F0;
    height: 120px;
}

.suporte-text {
    margin-top: 20px;
    margin-left: 10px;
}

.suporte-text span {
    font-size: 1.8rem;
    color: white;
}

.suporte img {
    width: 60px;
    height: 60px;
    margin-left: 50px;
    margin-top: 30px;
}

.suporte p {
    color: white;
    margin-top: 0px;
}

.suporte-bloco {
    margin-top: 20px;
}
.suporte-contato {
    display: inline-block;
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    border: solid 2px white;
    padding: 4px;
    height: 40px;
   
}

.suporte-contato input {
    border: 0;
    color: black;
    outline: 0;
    width: 380px;
}

.suporte-contato button {
    background-color: #FF7602;
    border: none;
    border-radius: 20px;
    padding: 4px 10px;
}