<div class="slide" id="inicio">
    <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/imagens/Slide.png" alt="">
</div>

<div class="suporte">

    <div>
        <img src="https://dige-site1-imagens.s3-sa-east-1.amazonaws.com/icones/headphones.svg" alt="">
    </div>

    <div class="suporte-text">
        <span>SUPORTE</span>
        <p>Seg a dom das 8h às 00h</p>
    </div>

    <div class="suporte-bloco">
        <span>Receba promoções e novidades por WhatsApp!</span>
        <div class="suporte-contato">
            <input type="text" name="contato" id="contato" placeholder="Digite o seu WhatsApp">
            <button>Assinar</button>
        </div>
    </div>
   
    
</div>